
* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --lines: 1px solid hsl(0, 0%, 86%);
  --darkblue: hsl(197, 23%, 47%);
  --blue: hsl(189, 35%, 71%);
  --darkblack: hsl(0, 0%, 18%);
  --black: hsl(240, 2%, 30%);
  --darkgrey: hsl(0, 0%, 49%);
  --lightgrey: hsl(0, 0%, 93%);
  --grey: hsl(0, 0%, 87%);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  background-color: hsl(45, 20%, 96%);
  color: var(--darkblack);
  font-family: -apple-system, BlinkMacSystemFont;
}

#main-container {
  display: flex;
  margin: auto;
  min-height: 100vh;
}

/* My-lists */
#togglelists-container {
  width: 30%;
  max-width: 300px;
  min-width: 200px;
  padding-top: 1em;
  background-color: var(--darkblack);
}

#my-lists {
  margin: 0;
  font-size: 1.3em;
  height: 42px;
  padding-top: 20px;
  padding-left: 1em;
  color: var(--blue);
}

.list {
  color: var(--grey);
  padding: 0.8em 2em;
  font-size: 0.8em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.listFocus {
  background-color: var(--blue);
  color: var(--darkblack);
  outline: none;
}

#addList-form {
  padding-left: 32px;
  margin-left: 0;
}

#addList-input {
  font-size: 0.8em;
  color: var(--grey);
}

/* open-list */
.openList-container {
  width: 80%;
}

header {
  background-color: var(--lightgrey);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 20px 0.5em 15px 1em;
  border-bottom: var(--lines);
  font-size: 2em;
  color: var(--blue);
}

#listTitle {
  white-space: nowrap;   
  /* font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none; */
}

#dropDownBtn {
  width: 2rem;
  line-height: 2rem;
  font-size: 1.3rem;
  border-radius: 50%;
  text-align: center;
  border: 1px solid transparent;

}

#dropDownBtn:active {
  color: var(--darkblue);
}

#dropDownBtn:hover {
  border: 1px solid var(--blue);
}

#dropDownMenu {
  background-color: hsl(0, 0%, 31%);
  color: white;
  display: none;
  grid-template-rows: repeat(3, 1fr);
  width: 130px; 
  height: 140px;
  position: absolute;
  right: 10px;
  top: 70px;
  z-index: 1;
}

.menuOption {
  background-color: var(--black);
  border: none;
  color: inherit;
  font-size: 0.6em;
  margin: 0;
}

.menuOption:hover {
  background-color: var(--blue) !important; 
}


/* toggling */
.noHover{
  pointer-events: none;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

/* input and form styling */

:focus {
  outline: none;
}

input {
  border: none;
  background-color: transparent;
  color: inherit;
}

/* todo container */
#todo-container {
  padding-top: 10px;
}

#addList-input, #addTodo-input {
  height: 2.5em;
  width: 100%;
  border-bottom: var(--lines);
}

form, .todo-item {
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  align-items: center;
}

#addTodo-input {
  font-size: 0.7em;
}

.todo-text {
  margin-left: 0;
  height: 2.5em;
  font-size: 0.7em;
}

.todoItemBox {
  display: grid;
  width: 100%;
  border-bottom: var(--lines);
  position: relative;
}

/* description elements */
.addDescBtn {
  width: 20px;
  color: var(--blue);
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  position: absolute;
  right: 0;
  margin-top: 0.2em;
  font-size: 1.2rem;
}

.addDescBtn:hover {
  color: var(--darkblue);
  cursor: default;
}

.descriptionContainer {
  /* display: grid; */
  padding-bottom: 1em;
  font-size: 0.6em;
  color: var(--darkgrey);
}

.descriptionContainer > * {
  margin-top: 0.2em;
}

.descriptionInput {
  margin-left: 0;
  padding-left: 0;
  font-size: inherit;
}

.descriptionDate {
  padding-left: 0.5em;
}

.priority {
  width: 80px;
}

/* checkbox */
input[type=checkbox] {
  width: 1.3em;
  height: 1.3em;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 65%);
  -webkit-appearance: none;
  cursor: pointer;
  margin-right: 10px;
  align-self: flex-start;
  margin-top: 0.7em;
  font-size: 0.7em;
}

input[type=checkbox]:checked {
  background-color: hsl(190, 46%, 82%);
  border: 1px solid var(--darkgrey);
}



